/* //src/app.css */
.App {
  text-align: center;
}

.main-content {
  padding: 0 2rem;
}

/* Styles for the modal/form overlay */
/* .form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container iframe {
  width: 90%;
  max-width: 700px;
  height: 90%;
  background-color: white;
  border-radius: 8px;
}

.close-form {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
} */